<div id="a">
  <div class="large-12 small-12 columns">

      <div onclick="buildUrl()" class="button" id="save">APPLY</div>
  </div>
</div>


<div class="large-12 small-12 columns">

<select class="fancy-select" id="first_drop">
  <option value="">Select</option>
  <%= options_for_select([['Tops', 1], ['Bottoms', 2], ['Dresses', 3], ['Outerwear', 4], ['Accessories', 5], ['Shoes', 6]], 1) %>
</select>

<br>

<!-- slider test -->
<p>
  <label for="amount">Budget:</label>
  <input type="text" id="amount" style="border:0; color:#f6931f; font-weight:bold;">
</p>

<div id="slider2"></div>


<!-- end slider test -->

<script>
  $(function(){

    
    $( "#slider2" ).slider({
      value:100,
      min: 20,
      max: 5000,
      step: 20,
      animate: true,
      slide: function( event, ui ) {
        $( "#amount" ).val( "$" + ui.value );
        // console.log(ui.value);
      }
    });
      // console.log($( "#slider" ).slider( "value" ));
    $( "#amount" ).val( "$" + $( "#slider2" ).slider( "value" ) );
    


    $('.fancy-select').fancySelect();
    // var val = $( "#slider2" ).slider( "value" ) 
    // var url = "http://0.0.0.0:3000/items?cat=" + $('#first_drop option:selected').text() + "&price=" + val;
    // console.log(url);
  });

  function buildUrl(){
    var val = $( "#slider2" ).slider( "value" ) 
    var url = "http://cryptic-castle-4589.herokuapp.com/items?cat=" + $('#first_drop option:selected').text() + "&price=" + val;
    // console.log(url);
    window.location.href = url;
    $('#panel1').removeClass("active");
  };

</script>