/*

 _______  _______  __   __  ___      _______  ___      __   __  _______  _______ 
|       ||       ||  | |  ||   |    |       ||   |    |  | |  ||       ||       |
|  _____||_     _||  |_|  ||   |    |    ___||   |    |  | |  ||  _____||_     _|
| |_____   |   |  |       ||   |    |   |___ |   |    |  |_|  || |_____   |   |  
|_____  |  |   |  |_     _||   |___ |    ___||   |___ |       ||_____  |  |   |  
 _____| |  |   |    |   |  |       ||   |___ |       ||       | _____| |  |   |  
|_______|  |___|    |___|  |_______||_______||_______||_______||_______|  |___|  

*/

/* ADDED BY ELLIE - 03.03.14 */

@import "foundation";
@import url(http://fonts.googleapis.com/css?family=Raleway:400,100|Marvel|Open+Sans:400,300);

/* ----------------------APPLICATION-------------------------------- */

body {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	background-color: rgba(60,69,71,1);
}

.footer {
	color: white;
}

/* ----------------------HOMEPAGE---------------------------------- */

div.home {
	background-color: rgba(60,69,71,1);
}

h4 {
	color: rgba(255,247,204,1);
	font-family: 'Raleway', sans-serif;
}

.welcometext {
	color: #bbb;
}

/* ----------------------HOMEPAGE DESKTOP--------------- */

.banner {
	text-align: left;
	padding-top: 5%;
	font-family: 'Raleway', sans-serif;
	overflow: hidden;
}

.front {
	position: relative;
	margin-right: 40%;
	width: 300px;
	height: 55px;
	overflow: auto;
}

#signup {
	margin-right: 1%;
	background-color: rgba(118,200,176,1);
	position: absolute;
	left: 0px;
	height: 50px;
}

#signin {
	border: 1px solid rgba(118,200,176,1);
	background-color: rgba(118,200,176,.2);
	position: absolute;
	right: 0px;
	height: 50px;
}

.iphone {
	width: 300px;
	height: 100%;
	float: right;
}

.girl2 {
	width: 150px;
	height: 100%;
	float: left;
	margin-left: 30%;
}

#logo {
	font-family: 'Raleway', sans-serif;
	margin-top: 10px;
	color: rgb(255,77,66);
}

.front-icons {
	height: 200px;
	width: 100%;
}

.hotpicksclass {
	width: 100%;
	height:500px;
	border: 2px solid blue;
}

/* ----------------------SHOP---------------------------------- */

.deckcontainer {
	/*border: 1px solid lime;*/
	/*width: 600px;*/
	height: 550px;
	margin: 0 auto;
	background-image: url(productslidedeck2.png);
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}

/*fix this*/
@-webkit-keyframes infinite-spinning {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.itemdeck {
	padding-top: 90px;
	overflow: hidden;

}

.itemdeck-change {
	/*fix this*/
	-webkit-animation: infinite-spinning 2s;

}


label {
	font-family: 'Raleway', sans-serif;
}

h1 {
	font-family: 'Raleway', sans-serif;
}

.play {
	margin-top: 3%;
	font-family: 'Marvel';
	color: rgb(81,212,173);
}

div.shop {
	background-image: url(dark_mosaic.png);
	background-position: fixed;
}

.product-name {
	height: 75px;
	overflow: hidden;
	vertical-align: sub;
}

.caption {
	font-family: 'Raleway';
	color: rgb(130,132,134);
	font-size: 1.3em;
}

.shopbar {
	width: 400px;
	height: 60px;
	overflow: auto;
	margin: 0 auto;
	position: relative;
}

.lose {
	background-color: rgb(255,77,66);
	font-family: 'Marvel';
	right: 101px;
}

.lust {
	background-color: rgb(81,212,173);
	font-family: 'Marvel';
	float: right;
	position: absolute;
	right: 55px;
	top: 0px;
}

.buy {
	background-color: rgba(81,212,173, 0.1);
	border: 2px rgb(81,212,173) solid;
	font-family: 'Marvel';
	height: 52px;
	left: -3px;
	top:-72px;
}

.product-details {
	width: 482px;
	height: 100px;
	background-color: rgba(0,0,0,.7);
	margin: 0 auto;
	overflow: hidden;
	position: absolute;
	bottom: 34px;
	left: 0px;
	right: 0px;
	color: white;
	padding-top: 4%;
	font-family: 'Marvel';
	font-size: 1em;
}

#myModal {
	height: 800px;
	margin-top: -310px;	
}

.myModal {
	height: 800px;
	margin-top: -310px;
}

.favorites {
	float: left;
}

.iframe {
	height: 100%;
	width: 100%;
	overflow: auto;
	-webkit-overflow-scrolling:touch;

}

iframe, object, embed {
	max-width:100%;
}

.shop-images {
	max-height: 400px;
}

@media only screen and (max-width: 40em) { 
			.deckcontainer {
			background-size: 300px 350px;
			margin: 0 auto;
			top: -140px;
			background-image: url(productslidedeck2.png);
			background-repeat: no-repeat;
			background-position: center;
			position: relative;
		}

		.itemdeck {
			margin: 0 auto;
			overflow: hidden;
			max-width: 65%;
			max-height: 68%;
			padding-top: 170px;
			
		}

		.shopbar {
			width: 400px;
			height: 60px;
			overflow: auto;
			margin: 0 auto;
			position: relative;
			top: -250px;

		}

		.lose {
			background-color: rgb(255,77,66);
			font-family: 'Marvel';
			right: 145px;
		}

		.lust {
			background-color: rgb(81,212,173);
			font-family: 'Marvel';
			right: 96px;
		}

		.buy {
			background-color: rgba(81,212,173, 0.1);
			border: 2px rgb(81,212,173) solid;
			font-family: 'Marvel';
			left: -45px;
		}

		.product-details {
			width: 237px;
			height: 60px;
			background-color: rgba(255,0,0,.7);
			margin: 0 auto;
			overflow: hidden;
			position: absolute;
			bottom: 100px;
			left: 0px;
			right: 0px;
			top: 352px;
			color: white;
			padding-top: 1%;
			font-family: 'Marvel';
			font-size: 1em;
		}

		.play {
	margin-top: -1%;
	font-family: 'Marvel';
	color: rgb(81,212,173);
	}

}

/* ----------------------SETTINGS---------------------------------- */

div#a{
height:75px;
width:100%;
margin-bottom:20px;
padding: 10px;
}

#clear {
	float: left;
}

/* ----------------------TO BE ORGANIZED--------------- */



#b{
height:250px;
width:100%;
background-color: rgba(135,144,145,1);
margin-bottom: 5%;
}

.menu {
	height: 20px;
	width: 20px;
}

@media only screen and (max-width: 40em) { 
	.menu {
	padding-bottom: 5px;
}

}

.user {
	padding-bottom: 10px;
	height: 35px;
	width: 25px;
}

.test {
	height: 500px;
	width: 300px;
	overflow: hidden;
	border: 1px solid black;
}

.uniform {
	height: 300px;
	width: 100%;
	overflow: hidden;
}

.menuslider {
	width: 50px;
}

/*yellow: background-color: rgba(255,247,204,1);
yellow-gray:background-color: rgba(60,69,71,1);
*/

#panel1 {
	background-color: #333;
}

#save {
	background-color: rgb(81,212,173);
}

#settings {
	background-color: #333;
	font-family: 'Raleway';
}

/* ----------------------FAVORITES---------------------------------- */
.pricing-table .title {
	background-color: rgb(81,212,173);
	color: black;
	font-family: 'Raleway';
	font-weight: 400;
}

.fave-buy-btn {
	background-color: rgb(255,77,66);
}

$price-item-align: left;

/* ----------------------SIGN UP/IN---------------------------------- */
.login {
	width: 300px;
	height: 500px;
	border: 1px solid pink;
	margin: 0 auto;
}
