<h1 id="logo">Developed by:</h1>

<%= image_tag("team_EAK.gif", id: "gif") %>

<div class="row about">
	<div class="large-4 small-4 columns">
		<h4><a href="http://www.linkedin.com/pub/elena-hoshizaki/38/2b4/19" target="_blank">Ellie</a></h4>
	</div>
	<div class="large-4 small-4 columns">
		<h4><a href="http://www.linkedin.com/pub/kendrick-parks/53/8bb/317" target="_blank"> Kendrick </a></h4>
	</div>
	<div class="large-4 small-4 columns">
		<h4><a href="http://www.linkedin.com/in/estradaalexandra" target="_blank">Alex</a></h4>
	</div>
</div>